body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.3em;
}

.logo{
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;

}
.menu {
    background-color: rgb(196, 28, 28);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);

}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;

}
.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a {

    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff

}

.header {
    padding: 20px 150px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.9rem;
    line-height: 1.3em;

}


.formulario {
    padding: 0px 150px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.3em;
    justify-content: space-between;
}

.button{

    padding: 5px 10px;
    font-size: 1.0rem;
    line-height: 1.1em;
    margin-left: 10px;
}

.text_1{

    font-size: 1.0rem;
    line-height: 1.0em;
}